---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">
    {% assign m = post.date | date: "%-m" %}
    {{ post.date | date: "%-d" }}
    {% case m %}
      {% when '1' %}Ene
      {% when '2' %}Feb
      {% when '3' %}Mar
      {% when '4' %}Abr
      {% when '5' %}May
      {% when '6' %}Jun
      {% when '7' %}Jul
      {% when '8' %}Ago
      {% when '9' %}Sep
      {% when '10' %}Oct
      {% when '11' %}Nov
      {% when '12' %}Dic
    {% endcase %}
    {{ post.date | date: "%Y" }}
	</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Posts antiguos</a>
  {% else %}
    <span class="pagination-item older">Posts antiguos</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Posts nuevos</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Posts nuevos</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Posts nuevos</span>
  {% endif %}
</div>
