<aside class="wide feat" id="{{ include.id }}">
  <section class="c2-flex">
    <div>
      <figure>
      <img src="{{ page.url | absolute_url }}/assets/public/{{ include.imagea }}" srcset="/assets/public/{{ include.imagea | remove: '2x' }}
      1x, /assets/public/{{ include.imagea }} 2x" loading="lazy" alt="{{ include.figcap1 }}" />
      {% if include.figcap1 %}
      <figcaption>{{ include.figcap1 }}</figcaption>
      {% endif %}
      </figure>
    </div>
    <div>
      <figure>
        <img src="{{ page.url | absolute_url }}/assets/public/{{ include.imageb }}" srcset="/assets/public/{{ include.imageb | remove: '2x' }} 1x, /assets/public/{{ include.imageb }} 2x" loading="lazy" alt="{{ include.figcap2 }}" />
        {% if include.figcap2 %}
        <figcaption>{{ include.figcap2 }}</figcaption>
        {% endif %}
      </figure>
    </div>
  </section>
  </aside>