<aside class="wide feat" id="{{ include.id }}">
  <section class="c2-flex">
    <div>
      <figure>
      <img src="/assets/public/{{ include.imagea }}" loading="lazy" alt="{{ include.figcap1 }}" />
      {% if include.figcap1 %}
      <figcaption>{{ include.figcap1 }}</figcaption>
      {% endif %}
      </figure>
    </div>
    <div>
      <figure>
        <img src="/assets/public/{{ include.imageb }}" loading="lazy" alt="{{ include.figcap2 }}" />
        {% if include.figcap2 %}
        <figcaption>{{ include.figcap2 }}</figcaption>
        {% endif %}
      </figure>
    </div>
  </section>
  </aside>


<section class="c2-grid">
      <figure>
      <img src="/public/work/public/{{ include.imagea }}" loading="lazy" alt=""> 
      </figure>
      <figure>
        <img src="/public/work/{{ include.imageb }}" loading="lazy" alt="">
      </figure>
</section>