{% if page.title == "Portada" %}
    <header id="header">
        <a href="/"><img src="{{ "/assets/public/logo.svg" | relative_url }}" class="logo" alt="{{ site.title | escape }}" title="{{ site.title | escape }}" /></a>
        <h1 class="hero-title">hola.</h1>
        <p>Soy <strong>Diego</strong>. Un diseñador gráfico chileno.</p>
        <p>Te doy la bienvenida a mi pequeño rincón web donde comparto algunos de mis proyectos, opiniones que nadie preguntó y otras cosas de mi interés.</p>
        <p>Puedes <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#97;&#114;&#114;&#105;&#97;&#103;&#97;&#100;&#97;&#54;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">escribirme</a> si quieres 👋</p>
  </header>      
    {% else %}
      <header id="header">
          <a href="/"><img src="{{ "/assets/public/logo.svg" | relative_url }}" class="logo" alt="{{ site.title | escape }}" title="{{ site.title | escape }}" /></a>
    </header>
{% endif %}