{% if page.title == "Portada" %}
    <header id="header">
        <a href="/"><img src="{{ "/assets/public/logo.svg" | relative_url }}" class="logo" alt="{{ site.title | escape }}" title="{{ site.title | escape }}" /></a>
        <h1 class="hero-title">hola.</h1>
        <p>Soy <strong>Diego</strong>. Un diseñador gráfico chileno.</p>
        <p>Te doy la bienvenida a mi pequeño rincón web donde comparto algunos de mis proyectos, opiniones que nadie preguntó y otras cosas de mi interés.</p>
        <p>Puedes <a href="mailto:darriagada6@gmail.com?subject=Hola!">escribirme</a> si quieres 👋</p>
  </header>      
    {% else %}
      <header id="header">
          <a href="/"><img src="{{ "/assets/public/logo.svg" | relative_url }}" class="logo" alt="{{ site.title | escape }}" title="{{ site.title | escape }}" /></a>
    </header>
{% endif %}