<head> <!-- build: {{ "now" | date: "%FT%T%z" }} -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  {%- seo -%}

  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">

<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Diego Arriagada" />
<link rel="manifest" href="/assets/site.webmanifest" />

  {%- feed_meta -%}

  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

</head>