* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight: 400; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
    background: var(--theme-headings);
    color: var(--theme-bkg);
}

@media (prefers-color-scheme: light) {
	:root {
    --theme-text: #2e2e2e;
    --theme-bkg: #FFF6EC;
    --theme-headings: #111;
    --theme-meta: #222;
    --theme-nav: #111;
    --theme-button: #111;
    --theme-link: #111;
    img {opacity: 1;}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
    --theme-bkg: #0f0f0f;
    --theme-text: #bababa;
    --theme-headings: #f1f1f1;
    --theme-meta: #999;
    --theme-nav: #f1f1f1;
    --theme-button: #f1f1f1;
    --theme-link: #f1f1f1;
    img {opacity: 0.9;}
	}
}

[data-theme='light'] {
    --theme-text: #2e2e2e;
    --theme-bkg: #FFF6EC;
    --theme-headings: #111;
    --theme-meta: #222;
    --theme-nav: #111;
    --theme-button: #111;
    --theme-link: #111;
    img {opacity: 1;}
}

[data-theme='dark'] {
    --theme-bkg: #0f0f0f;
    --theme-text: #a0a0a0;
    --theme-headings: #f1f1f1;
    --theme-meta: #999;
    --theme-nav: #f1f1f1;
    --theme-button: #f1f1f1;
    --theme-link: #f1f1f1;
    img {opacity: 0.9;}
}

body {
    color: var(--theme-text);
    background: var(--theme-bkg);
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 2em;    
}

@font-face {
	font-family: 'MirthaDisplay-Bold';
	src: url('webfonts/mirtha-display-bold.eot');
	src: url('webfonts/mirtha-display-bold.eot?#iefix') format('embedded-opentype'),
             url('webfonts/mirtha-display-bold.woff2') format('woff2'),
	     url('webfonts/mirtha-display-bold.woff') format('woff'),
	     url('webfonts/mirtha-display-bold.ttf') format('truetype'),
	     url('webfonts/mirtha-display-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('webfonts/space-grotesk.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


h1, h2, h3, h4, h5, h6 {
    font-family: 'MirthaDisplay-Bold', Helvetica, Arial, Sans-Serif; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--theme-headings);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

strong {
    font-weight: 600;
}

a {
    color: var(--theme-link);
    transition: all 250ms ease-in-out;
    text-underline-offset: 4px;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--theme-link);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

a:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 4px;
    outline-color: var(--theme-link);
}


button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

/* Header */
.logo {
    width: 60px;
    height: auto;
    display: block;
    transition: all 250ms ease-in-out;
}

.logo:hover, .logo:focus {
    transform: scale(1.1);
}

/* Header */
#header, #main, #footer {
    max-width: 1200px;
    margin: 0 auto;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    gap:15px;
}

/* Navigation */
nav ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

nav ul li::after {
    opacity: 0.5;
    font-weight: 300;
    content: ' ·';
}

nav ul li:last-child::after {
    content: '';
}

nav ul li a {
    color: var(--theme-nav);
    text-decoration: none;
    text-underline-offset: 4px;
}

nav ul li a.active, nav ul li a:hover, nav ul li a:focus {
    text-decoration: underline;
    text-decoration-color: var(--theme-nav);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-weight: 600;
}

nav ul li .darkmode {
    fill: var(--theme-link);
    margin: -2px auto;
}

/* Grid */
.grid article {
    width: 100%;
}

.grid article a img {
    cursor: pointer;
    transition: all 250ms;
}

.grid article a:hover img, .grid article a:focus img {
    opacity: 0.5;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2ch;
}

/* Footer */
#footer {
    margin-top: 4ch;
    margin-bottom: 4ch;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: 400;
}

/* Project Page */
.project-header {
    display: block;
    max-width: 600px;
    margin: 4rem auto 3rem;
    text-align: center;
}

.project-header .date {
    opacity: 0.5;
    font-size: .9rem;
    color: var(--theme-meta);
}

.project-header .metadata {
    font-size: .9rem;
    margin: 1.6rem auto;
    width: 100%;
    display: block;
    font-weight: 500;
}

.project-header .metadata a {
    opacity: 0.5;
    color: var(--theme-meta);
    text-decoration: none;
    display: inline-block;
}

.project-header .metadata a + a {
    margin-left: .5rem;
}

.project-header .metadata a::before {
    content: '#';
    margin-right: 3px;
}

.project-header .metadata a:hover, .project-header .metadata a:focus {
    opacity: 1;
}

.action-button {
    color: var(--theme-headings);
    display: block;
    max-width: 140px;
    border: 1px solid var(--theme-button);
    padding: 8px 20px;
    text-decoration: none;
    margin: 1.8rem auto;
    border-radius: 400px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.action-button:hover, .action-button:focus, .button:hover, .button:focus {
    color: var(--theme-bkg);
    background: var(--theme-button);
    transform: rotate(-2deg) scale(1.1);
    text-decoration: none;
}

.button {
    color: var(--theme-headings);
    display: block;
    border: 1px solid var(--theme-button);
    padding: 10px 20px;
    text-decoration: none;
    margin: 1.8rem 0;
    border-radius: 400px;
    font-size: 1rem;
    font-weight: 600;
    max-width: 100%;
    text-align: center;
}

.c2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem auto;
}

.c2-grid-break {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem auto;
}

.c2-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem auto;
}

.c2-col p {
    margin-bottom: 2rem;
}

.c3-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem auto;
}

.c4-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem auto;
}

/* Misc */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--theme-link);
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
  }

  #myBtn .go-up {
    stroke: var(--theme-link);
    margin: 1px auto;
    vertical-align: middle;
  }

  #myBtn:hover .go-up {
    stroke: var(--theme-bkg);
  }
  
  #myBtn:hover {
    background-color: var(--theme-link);
    transform: scale(1.1);
  }

  #proyecto .full {
    margin-bottom: 1rem;
}

#proyecto .video {
    margin-bottom: 1rem;
}

.page header {
    text-align: center;
    margin: 4ch auto;
}

.more-projects {
    margin: 3ch auto;
}

.more-projects::before {
    content: '';
    width: 100%;
    background: var(--theme-meta);
    opacity: 0.2;
    height: 1px;
    display: block;
    margin: 4ch auto;
}

/* Mobile */
@media (min-width:768px) {
    body {
        padding: 2em; 
        font-size: 1.2rem;  
    }

    #footer {
        flex-wrap: nowrap;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    #header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    .logo {
        margin-bottom: none;
    }
    
    .c2-grid, .c2-grid-break {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 3rem auto;
    }

    .c3-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin: 3rem auto;
    }

    .c4-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        margin: 3rem auto;
    }

    .c2-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 4rem;
        margin: 1rem auto;
    }

    #proyecto .full {
        margin-bottom: 3rem;
    }

    #proyecto .video {
        margin-bottom: 3rem;
    }


    h1 {
        font-size: 4.5rem;
    }

    h1.hero {
        font-size: 6rem;
        line-height: 1;
        margin-bottom: 1.6rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .page header {
        text-align: center;
        margin: 10ch auto;
    }
    
}