<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}

  <body>

  <button onclick="topFunction()" id="myBtn" title="Volver arriba">
      <svg width="20px" height="20px" viewBox="0 0 24 24" class="go-up" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 6V18M12 6L7 11M12 6L17 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>    
  </button> 
  {%- include header.html -%}
    <main role="main" id="main" aria-label="Content">
        {{ content }}
    </main>
  {%- include footer.html -%}
  </body>
</html>