---
layout: default
---

  {{ content }}

  {%- if site.work.size > 0 -%}
  {%- assign workPosts = site.work | sort: date -%}
  <section id="proyectos">
    <h3>Proyectos <span id="work-count">&mdash; {{ site.work | size }}</span></h3>
    <ul class="proyectos-grid">
      {%- assign post_limit = site.home_post_limit | default: 6 -%}
      {%- for post in workPosts limit:post_limit -%}
      <li>
        <div class="item-proyecto">
          <img src="/assets/work/{{post.work.thumb}}" loading="lazy" alt="{{ post.title | escape }}" />
          <span>{{ post.title | escape }}</span>
          <a class="fill" href="{{ post.url | relative_url }}" aria-label="{{ post.title | escape }}" role="button"></a>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </section>
{%- endif -%}


  {%- if site.posts.size > 0 -%}
  {%- assign allposts = site.posts | sort_natural: "date" | reverse %}
    <section id="blog">
    <h3>{{ page.list_title | default: "Notas" }} <span id="post-count">&mdash; {{ site.posts | size }}</span></h3>
    <ul class="articulos">
      {%- assign post_limit = site.home_post_limit | default: 6 -%}
      {%- for post in site.posts -%}
      <li class="item-articulo">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <span class="fecha-articulo">{% include date_es.html date=post.date time-attributes='class="post-date"' %}</span>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  {%- endif -%}